
# Laptop Price Analysis Project
# Requirements File


# Core Data Science Libraries
pandas
numpy

# Visualization Libraries
matplotlib
seaborn

# Machine Learning
scikit-learn

# Jupyter Notebook Environment
jupyter